
<div class="container">
  
  <h1>Tour of Heroes</h1>

  <ul class="nav nav-pills col-md-10">
    <li class="nav-item col-sm-12 col-xs-12 col-md-2 col-lg-2">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>

    <li class="nav-item col-sm-12 col-xs-12 col-md-2 col-lg-2">
      <a class="nav-link" routerLink="/heroes">Heroes</a>
    </li>

    <!--<li class="nav-item col-sm-12 col-xs-12 col-md-2 col-lg-2">
      <a class="nav-link" routerLink="/details/11">Hero Details</a>
    </li>-->

  </ul>

  <router-outlet></router-outlet>

</div>